.nav-link-icon{
    height:30px;
    width:30px;
    display: flex;
}
.sidebar{
    background-color: green;
    width:260px;
    padding:36px 20px;
    transition: all 300ms ease-in-out;
    align-items: flex-start;
    display: flex;
    margin-left:0;
    left:0;
    bottom:0;
    position: fixed;
   
}
.nav-list{
    list-style-type:none;
    display:flex;
    flex-direction: column;
    gap: 35px;
    align-items: self-start;
}
.nav-link-text{
    display:flex;
    flex-direction: column;
}

