.main-content{
   flex:1;
   padding:32px;  
}
@media screen and(max-width:1400px){
    .main-content{
        padding-left: 20px;
        padding-right: 20px;
    }
}
@media screen and(max-width:1200px){
    .main-content{
        padding-right:16px;
        padding-left: 16px;
    }
}
.logo{
    height: 120px;
    width:120px;
    
    
}
.logo{
    height: 120px;
    width:120px;
    
    
}
.logo-container{
    position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  margin:10px;
}